# Project 5


- In this project we will use k mean clustering to detect the voalatility of a sector of stocks.
- In this project we are using linear regression to help detect mommentum in stocks and possbile things you can use to help someone in their endevor in the stock market. (optional)
- The project uses data from alpaca and uses this article as a basis and is going to be more than what the author purpose dureing extraction of this data.
- we may use google trends information and reddit growth to help give more confidence in our inference and how we can use it to detect alpha.

- we could include information from new(aka fud and options) to help but this will proably be just a optional if the above is completed.

- this is just a set of tool to use to help with your analysis in the stock and cannot guarentee alpha.


## Links:
- https://alpaca.markets/learn/linear-regression-zipline-trader/ (source for code)
- https://alpaca.markets/ (source for data)
- https://pythonforfinance.net/2018/02/08/stock-clusters-using-k-means-algorithm-in-python/ ( k mean clustering)
- https://towardsdatascience.com/using-google-trends-data-to-leverage-your-predictive-model-a56635355e3d (link for using google search data in linear regression)


## Process:
- Take a sector of stocks in a exchange like the nyse, dows, russell,etc. (use stock screeners to help decide dataset)
- Prepare the linear regession on the stocks we picked with data
- Look at what is looking good over a 6-18  month period.
- Use g trend information to find possible information about trends in their sectors

## Examples:
- Use abercrombie comming back from the dead. linear regession and google trends with 90's and leather pants
- Use LAC information to tell the story of how lithium can be a play for the future vs tesla, lucid and rivian as comparision
- Use a example from your analysis from the stock exhange you choose and use the method your thinking about

## Talking about it:
- inform this method has not been proven and does not guarentee any money
- does not take fundamentals or too many technicals in place.
- market conditions can change and can affect investments regardless.
- talk about the technicals (linear and google trends), connecting it with how the market is working and what could affect the trade and short term and long term
- talk about google trends flaws with examples of chipotole and the lettuce problems or lulu lemon see through pants. (negative sediment) and lip balm (high chart but from only new york hmm?)
-

In [9]:
# imports 
import pandas as pd
from numpy import vstack,array
from numpy.random import rand
import numpy as np
import seaborn as sns
import os
import datetime
from matplotlib import pyplot as plt
from pylab import plot, show
from scipy.cluster.vq import kmeans, vq
from math import sqrt
import pandas_datareader  as dr 
from sklearn.cluster import KMeans

In [10]:
#  
snp_500_company_list= "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

companyListDatabase=pd.read_html(snp_500_company_list)
tickers=companyListDatabase[0][1:]["Symbol"].values

priceList=[]
for ticker in tickers:
    try:
        prices = dr.DataReader(ticker,'yahoo','01/01/2017')['Adj Close']
        prices = pd.DataFrame(prices)
        prices.columns = [ticker]
        priceList.append(prices) 

    except:
        pass
    prices_df=pd.concat(priceList,axis=1)

prices_df.sort_index(inplace=True)

In [ ]:
# look at the head of our dataset

prices_df.tail()

,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,AFL,...,WLTW,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-12-10,134.369995,125.470001,306.029999,379.440002,58.599998,654.450012,138.550003,240.039993,24.420000,57.840000,...,233.770004,87.580002,66.510002,217.179993,122.800003,133.869995,614.549988,124.489998,63.209999,231.449997
2021-12-13,135.960007,126.510002,312.390015,377.720001,58.700001,658.299988,133.800003,234.119995,23.920000,57.020000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-14,132.940002,127.290001,311.269989,369.730011,59.520000,614.859985,135.600006,235.389999,23.610001,57.160000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-15,135.559998,130.229996,315.459991,375.299988,60.259998,630.330017,146.500000,239.139999,24.129999,57.349998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-16,135.539993,132.080002,310.549988,401.619995,61.349998,565.479980,138.940002,240.600006,24.360001,58.150002,...,234.029999,81.900002,68.940002,200.499802,119.540001,133.740005,596.859985,120.900002,63.529999,231.619995

In [1]:
# calculate the  average annual percentage return and volatilities over a year

returns = prices_df.pct_change().mean() * 252
returns = pd.DataFrame(returns)
returns.columns = ['Returns']
returns['Volatility'] = prices_df.pct_change().std() * sqrt(252)

NameError: name 'prices_df' is not defined

In [ ]:
# Format data as numpy array to feed into the k means algorithm

data = np.asarray([np.asarray(returns['Returns']),np.asarray(returns['Volatility'])]).T
X = data
distorsions = []
for k in range(2, 20):
    k_means = KMeans(n_clusters=k)
    k_means.fit(X)
    distorsions.append(k_means.inertia_)
fig = plt.figure(figsize=(15, 5))
plt.plot(range(2, 20), distorsions)
plt.grid(True)
plt.title('Elbow curve')

In [ ]:
#computing the k means 

centroids,_ = kmeans(data,5)
# assign each sample to a cluster
idx,_ = vq(data,centroids)
# some plotting using numpy's logical indexing
plot(data[idx==0,0],data[idx==0,1],'ob',
     data[idx==1,0],data[idx==1,1],'oy',
     data[idx==2,0],data[idx==2,1],'or',
     data[idx==3,0],data[idx==3,1],'og',
     data[idx==4,0],data[idx==4,1],'om')
plot(centroids[:,0],centroids[:,1],'sg',markersize=8)
show()

In [ ]:
#identify the outlier
print(returns.idxmax())

In [ ]:
#drop the relevant stock from our data
returns.drop('BHF',inplace=True)

#recreate data to feed into the algorithm
data = np.asarray([np.asarray(returns['Returns']),np.asarray(returns['Volatility'])]).T

In [ ]:
# computing K-Means with K = 5 (5 clusters)
centroids,_ = kmeans(data,5)
# assign each sample to a cluster
idx,_ = vq(data,centroids)
# some plotting using numpy's logical indexing
plot(data[idx==0,0],data[idx==0,1],'ob',
     data[idx==1,0],data[idx==1,1],'oy',
     data[idx==2,0],data[idx==2,1],'or',
     data[idx==3,0],data[idx==3,1],'og',
     data[idx==4,0],data[idx==4,1],'om')
plot(centroids[:,0],centroids[:,1],'sg',markersize=8)
show()

In [ ]:
details = [(name,cluster) for name, cluster in zip(returns.index,idx)]
for detail in details:
    print(detail)